<h1><%= @restaurant.name %></h1>

<table>
  <thead>
    <tr>
      <th class="p-2 text-center">Address</th>
      <th class="p-2 text-center">Phone Number</th>
      <th class="p-2 text-center">Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td class="p-2 text-center"><%= @restaurant.address %></td>
        <td class="p-2 text-center"><%= @restaurant.phone_number %></td>
        <td class="p-2 text-center"><%= @restaurant.category %></td>
      </tr>
  </tbody>
</table>

<h2>Reviews</h2>

<ul>
<% @restaurant.reviews.each do |review| %>
<li><%= review.content %>, <%= review.rating %></li>
<% end %>
</ul>


</br>
</br>

<%= link_to 'Add a review', "/restaurants/#{@restaurant.id}/reviews/new" %>

<%= link_to 'Back', "/restaurants" %>

